<% form_for 'forms/save' do %>
<div class=field>__full_board<br />
<%= check_box_tag :__full_board %>
</div>
<div class=field>__expedited<br />
<%= check_box_tag :__expedited %>
</div>
<div class=field>__A1<br />
<div class=field>__A1__title<br />
<%= text_field_tag :__A1__title %>
</div>
<div class=field>__A1__short_title<br />
<%= text_field_tag :__A1__short_title %>
</div>
</div>
<div class=field>__A2<br />
<div class=field>__A2__pi_id<br />
<%= number_field_tag :__A2__pi_id %>
</div>
<div class=field>__A2__ci_ids<br />
</div>
<div class=field>__A2__main_contact_id<br />
<%= number_field_tag :__A2__main_contact_id %>
</div>
</div>
<div class=field>__A3<br />
<div class=field>__A3__type<br />
<div class=field>__A3__type__a<br />
<%= check_box_tag :__A3__type__a %>
</div>
<div class=field>__A3__type__b<br />
<%= check_box_tag :__A3__type__b %>
</div>
<div class=field>__A3__type__c<br />
<%= check_box_tag :__A3__type__c %>
</div>
<div class=field>__A3__type__d<br />
<%= check_box_tag :__A3__type__d %>
</div>
<div class=field>__A3__type__e<br />
<%= check_box_tag :__A3__type__e %>
</div>
<div class=field>__A3__type__f<br />
<%= check_box_tag :__A3__type__f %>
</div>
<div class=field>__A3__type__g<br />
<%= check_box_tag :__A3__type__g %>
</div>
<div class=field>__A3__type__h<br />
<%= check_box_tag :__A3__type__h %>
</div>
<div class=field>__A3__type__i<br />
<%= check_box_tag :__A3__type__i %>
</div>
<div class=field>__A3__type__j<br />
<%= check_box_tag :__A3__type__j %>
</div>
<div class=field>__A3__type__k<br />
<%= check_box_tag :__A3__type__k %>
</div>
<div class=field>__A3__type__l<br />
<%= check_box_tag :__A3__type__l %>
</div>
<div class=field>__A3__type__m<br />
<%= check_box_tag :__A3__type__m %>
</div>
<div class=field>__A3__type__n<br />
<%= check_box_tag :__A3__type__n %>
</div>
<div class=field>__A3__type__o<br />
<%= check_box_tag :__A3__type__o %>
</div>
<div class=field>__A3__type__p<br />
<%= check_box_tag :__A3__type__p %>
</div>
<div class=field>__A3__type__p_e<br />
<%= text_field_tag :__A3__type__p_e %>
</div>
</div>
<div class=field>__A3__design<br />
<div class=field>__A3__design__a<br />
<%= check_box_tag :__A3__design__a %>
</div>
<div class=field>__A3__design__b<br />
<%= check_box_tag :__A3__design__b %>
</div>
<div class=field>__A3__design__c<br />
<%= check_box_tag :__A3__design__c %>
</div>
</div>
<div class=field>__A3__phase<br />
<div class=field>__A3__phase__i<br />
<%= check_box_tag :__A3__phase__i %>
</div>
<div class=field>__A3__phase__i_ii<br />
<%= check_box_tag :__A3__phase__i_ii %>
</div>
<div class=field>__A3__phase__ii<br />
<%= check_box_tag :__A3__phase__ii %>
</div>
<div class=field>__A3__phase__ii_iii<br />
<%= check_box_tag :__A3__phase__ii_iii %>
</div>
<div class=field>__A3__phase__iii<br />
<%= check_box_tag :__A3__phase__iii %>
</div>
<div class=field>__A3__phase__iiii<br />
<%= check_box_tag :__A3__phase__iiii %>
</div>
<div class=field>__A3__phase__other<br />
<%= check_box_tag :__A3__phase__other %>
</div>
<div class=field>__A3__phase__other_e<br />
<%= text_field_tag :__A3__phase__other_e %>
</div>
</div>
<div class=field>__A3__placebo<br />
<%= check_box_tag :__A3__placebo %>
</div>
</div>
<div class=field>__A4<br />
<div class=field>__A4__A<br />
<div class=field>__A4__A__ab<br />
<%= check_box_tag :__A4__A__ab %>
</div>
<div class=field>__A4__A__ad<br />
<%= date_select :__A4__A__ad, '' %>
</div>
<div class=field>__A4__A__bb<br />
<%= check_box_tag :__A4__A__bb %>
</div>
</div>
<div class=field>__A4__B<br />
<div class=field>__A4__B__ab<br />
<%= check_box_tag :__A4__B__ab %>
</div>
<div class=field>__A4__B__as<br />
<%= text_field_tag :__A4__B__as %>
</div>
<div class=field>__A4__B__bs<br />
<%= text_field_tag :__A4__B__bs %>
</div>
<div class=field>__A4__B__bb<br />
<%= check_box_tag :__A4__B__bb %>
</div>
<div class=field>__A4__B__cb<br />
<%= check_box_tag :__A4__B__cb %>
</div>
</div>
<div class=field>__A4__C<br />
<div class=field>__A4__C__a1<br />
<div class=field>__A4__C__a1__conflict<br />
<%= check_box_tag :__A4__C__a1__conflict %>
</div>
<div class=field>__A4__C__a1__consulting<br />
<%= check_box_tag :__A4__C__a1__consulting %>
</div>
<div class=field>__A4__C__a1__management<br />
<%= check_box_tag :__A4__C__a1__management %>
</div>
<div class=field>__A4__C__a1__employment<br />
<%= check_box_tag :__A4__C__a1__employment %>
</div>
<div class=field>__A4__C__a1__board_directors<br />
<%= check_box_tag :__A4__C__a1__board_directors %>
</div>
<div class=field>__A4__C__a1__scientific_board<br />
<%= check_box_tag :__A4__C__a1__scientific_board %>
</div>
<div class=field>__A4__C__a1__stock<br />
<%= check_box_tag :__A4__C__a1__stock %>
</div>
<div class=field>__A4__C__a1__royalties<br />
<%= check_box_tag :__A4__C__a1__royalties %>
</div>
<div class=field>__A4__C__a1__ip_rights<br />
<%= check_box_tag :__A4__C__a1__ip_rights %>
</div>
<div class=field>__A4__C__a1__author<br />
<%= check_box_tag :__A4__C__a1__author %>
</div>
<div class=field>__A4__C__a1__gift<br />
<%= check_box_tag :__A4__C__a1__gift %>
</div>
<div class=field>__A4__C__a1__loan<br />
<%= check_box_tag :__A4__C__a1__loan %>
</div>
<div class=field>__A4__C__a1__other<br />
<%= check_box_tag :__A4__C__a1__other %>
</div>
<div class=field>__A4__C__a1__other_explained<br />
<%= text_field_tag :__A4__C__a1__other_explained %>
</div>
</div>
<div class=field>__A4__C__a2<br />
<%= check_box_tag :__A4__C__a2 %>
</div>
<div class=field>__A4__C__a3<br />
<div class=field>__A4__C__a3__b<br />
<%= check_box_tag :__A4__C__a3__b %>
</div>
<div class=field>__A4__C__a3__s<br />
<%= text_field_tag :__A4__C__a3__s %>
</div>
</div>
</div>
</div>
<div class=field>__A5<br />
<div class=field>__A5__nurse<br />
<%= check_box_tag :__A5__nurse %>
</div>
<div class=field>__A5__drugs<br />
<%= check_box_tag :__A5__drugs %>
</div>
<div class=field>__A5__xray<br />
<%= check_box_tag :__A5__xray %>
</div>
<div class=field>__A5__investigation<br />
<%= check_box_tag :__A5__investigation %>
</div>
<div class=field>__A5__lab<br />
<%= check_box_tag :__A5__lab %>
</div>
<div class=field>__A5__transfusion<br />
<%= check_box_tag :__A5__transfusion %>
</div>
<div class=field>__A5__radio<br />
<%= check_box_tag :__A5__radio %>
</div>
<div class=field>__A5__clinical<br />
<%= check_box_tag :__A5__clinical %>
</div>
<div class=field>__A5__infectious<br />
<%= check_box_tag :__A5__infectious %>
</div>
<div class=field>__A5__genetic<br />
<%= check_box_tag :__A5__genetic %>
</div>
<div class=field>__A5__hazardous<br />
<%= check_box_tag :__A5__hazardous %>
</div>
<div class=field>__A5__expedited<br />
<%= check_box_tag :__A5__expedited %>
</div>
<div class=field>__A5__records<br />
<%= check_box_tag :__A5__records %>
</div>
<div class=field>__A5__tissue<br />
<%= check_box_tag :__A5__tissue %>
</div>
<div class=field>__A5__other<br />
<%= check_box_tag :__A5__other %>
</div>
</div>
<div class=field>__A6<br />
<div class=field>__A6__from<br />
<%= date_select :__A6__from, '' %>
</div>
<div class=field>__A6__to<br />
<%= date_select :__A6__to, '' %>
</div>
</div>
<div class=field>__A7<br />
<div class=field>__A7__A<br />
<div class=field>__A7__A__others<br />
<%= check_box_tag :__A7__A__others %>
</div>
<div class=field>__A7__A__num<br />
<%= number_field_tag :__A7__A__num %>
</div>
</div>
<div class=field>__A7__B<br />
<div class=field>__A7__B__lead<br />
<%= check_box_tag :__A7__B__lead %>
</div>
<div class=field>__A7__B__institutions<br />
</div>
</div>
</div>
<div class=field>__A8<br />
<div class=field>__A8__no_funding<br />
<%= check_box_tag :__A8__no_funding %>
</div>
<div class=field>__A8__reason<br />
<%= text_field_tag :__A8__reason %>
</div>
<div class=field>__A8__yes_funding<br />
<%= check_box_tag :__A8__yes_funding %>
</div>
<div class=field>__A8__industry<br />
<%= check_box_tag :__A8__industry %>
</div>
<div class=field>__A8__federal<br />
<%= check_box_tag :__A8__federal %>
</div>
<div class=field>__A8__foundation<br />
<%= check_box_tag :__A8__foundation %>
</div>
<div class=field>__A8__internal<br />
<%= check_box_tag :__A8__internal %>
</div>
<div class=field>__A8__free<br />
<%= check_box_tag :__A8__free %>
</div>
<div class=field>__A8__A<br />
<div class=field>__A8__A__industry<br />
<%= check_box_tag :__A8__A__industry %>
</div>
<div class=field>__A8__A__industry_entity<br />
<%= text_field_tag :__A8__A__industry_entity %>
</div>
<div class=field>__A8__A__investigator_external<br />
<%= check_box_tag :__A8__A__investigator_external %>
</div>
<div class=field>__A8__A__investigator_external_entity<br />
<%= text_field_tag :__A8__A__investigator_external_entity %>
</div>
<div class=field>__A8__A__investigator_internal<br />
<%= check_box_tag :__A8__A__investigator_internal %>
</div>
<div class=field>__A8__A__investigator_internal_entity<br />
<%= text_field_tag :__A8__A__investigator_internal_entity %>
</div>
</div>
<div class=field>__A8__B<br />
<div class=field>__A8__B__office_name<br />
<%= text_field_tag :__A8__B__office_name %>
</div>
<div class=field>__A8__B__office_date<br />
<%= date_select :__A8__B__office_date, '' %>
</div>
<div class=field>__A8__B__ra_name<br />
<%= text_field_tag :__A8__B__ra_name %>
</div>
<div class=field>__A8__B__ra_date<br />
<%= date_select :__A8__B__ra_date, '' %>
</div>
</div>
<div class=field>__A8__C<br />
<div class=field>__A8__C__review<br />
<%= check_box_tag :__A8__C__review %>
</div>
<div class=field>__A8__C__approved<br />
<%= check_box_tag :__A8__C__approved %>
</div>
<div class=field>__A8__C__supported<br />
<%= check_box_tag :__A8__C__supported %>
</div>
<div class=field>__A8__C__other<br />
<%= check_box_tag :__A8__C__other %>
</div>
<div class=field>__A8__C__reason<br />
<%= text_field_tag :__A8__C__reason %>
</div>
</div>
<div class=field>__A8__D<br />
<div class=field>__A8__D__dollars<br />
<%= text_field_tag :__A8__D__dollars %>
</div>
<div class=field>__A8__D__non_monetary<br />
<%= text_field_tag :__A8__D__non_monetary %>
</div>
<div class=field>__A8__D__one_site<br />
<%= check_box_tag :__A8__D__one_site %>
</div>
<div class=field>__A8__D__multi_site<br />
<%= check_box_tag :__A8__D__multi_site %>
</div>
<div class=field>__A8__D__fed_grant_yes<br />
<%= check_box_tag :__A8__D__fed_grant_yes %>
</div>
<div class=field>__A8__D__fed_grant_no<br />
<%= check_box_tag :__A8__D__fed_grant_no %>
</div>
<div class=field>__A8__D__institution<br />
<%= text_field_tag :__A8__D__institution %>
</div>
<div class=field>__A8__D__defense<br />
<%= check_box_tag :__A8__D__defense %>
</div>
</div>
<div class=field>__A8__E<br />
<div class=field>__A8__E__b_y<br />
<%= check_box_tag :__A8__E__b_y %>
</div>
<div class=field>__A8__E__b_n<br />
<%= check_box_tag :__A8__E__b_n %>
</div>
<div class=field>__A8__E__s<br />
<%= text_field_tag :__A8__E__s %>
</div>
</div>
<div class=field>__A8__F<br />
<div class=field>__A8__F__grant<br />
<%= number_field_tag :__A8__F__grant %>
</div>
<div class=field>__A8__F__g_date<br />
<%= date_select :__A8__F__g_date, '' %>
</div>
<div class=field>__A8__F__funded<br />
<%= check_box_tag :__A8__F__funded %>
</div>
<div class=field>__A8__F__pending<br />
<%= check_box_tag :__A8__F__pending %>
</div>
</div>
<div class=field>__A8__G<br />
<div class=field>__A8__G__a<br />
<%= check_box_tag :__A8__G__a %>
</div>
<div class=field>__A8__G__b<br />
<%= check_box_tag :__A8__G__b %>
</div>
<div class=field>__A8__G__c<br />
<%= check_box_tag :__A8__G__c %>
</div>
<div class=field>__A8__G__d<br />
<%= check_box_tag :__A8__G__d %>
</div>
<div class=field>__A8__G__e<br />
<%= check_box_tag :__A8__G__e %>
</div>
<div class=field>__A8__G__f<br />
<%= check_box_tag :__A8__G__f %>
</div>
<div class=field>__A8__G__g<br />
<%= check_box_tag :__A8__G__g %>
</div>
<div class=field>__A8__G__h<br />
<%= check_box_tag :__A8__G__h %>
</div>
<div class=field>__A8__G__i<br />
<%= check_box_tag :__A8__G__i %>
</div>
<div class=field>__A8__G__j<br />
<%= check_box_tag :__A8__G__j %>
</div>
<div class=field>__A8__G__k<br />
<%= check_box_tag :__A8__G__k %>
</div>
<div class=field>__A8__G__l<br />
<%= check_box_tag :__A8__G__l %>
</div>
<div class=field>__A8__G__m<br />
<%= check_box_tag :__A8__G__m %>
</div>
<div class=field>__A8__G__n<br />
<%= check_box_tag :__A8__G__n %>
</div>
<div class=field>__A8__G__o<br />
<%= check_box_tag :__A8__G__o %>
</div>
<div class=field>__A8__G__p<br />
<%= check_box_tag :__A8__G__p %>
</div>
<div class=field>__A8__G__q<br />
<%= check_box_tag :__A8__G__q %>
</div>
<div class=field>__A8__G__r<br />
<%= check_box_tag :__A8__G__r %>
</div>
</div>
</div>
<div class=field>__A9<br />
<div class=field>__A9__A<br />
<div class=field>__A9__A__a<br />
<%= check_box_tag :__A9__A__a %>
</div>
<div class=field>__A9__A__b<br />
<%= check_box_tag :__A9__A__b %>
</div>
<div class=field>__A9__A__c<br />
<%= text_field_tag :__A9__A__c %>
</div>
</div>
<div class=field>__A9__B<br />
<div class=field>__A9__B__a<br />
<%= number_field_tag :__A9__B__a %>
</div>
<div class=field>__A9__B__b<br />
<%= number_field_tag :__A9__B__b %>
</div>
<div class=field>__A9__B__c<br />
<%= number_field_tag :__A9__B__c %>
</div>
<div class=field>__A9__B__d<br />
<%= number_field_tag :__A9__B__d %>
</div>
<div class=field>__A9__B__e<br />
<%= number_field_tag :__A9__B__e %>
</div>
<div class=field>__A9__B__f<br />
<%= number_field_tag :__A9__B__f %>
</div>
<div class=field>__A9__B__g<br />
<%= number_field_tag :__A9__B__g %>
</div>
</div>
<div class=field>__A9__C<br />
<div class=field>__A9__C__a<br />
<%= check_box_tag :__A9__C__a %>
</div>
<div class=field>__A9__C__b<br />
<%= check_box_tag :__A9__C__b %>
</div>
<div class=field>__A9__C__c<br />
<%= check_box_tag :__A9__C__c %>
</div>
<div class=field>__A9__C__d<br />
<%= check_box_tag :__A9__C__d %>
</div>
</div>
<div class=field>__A9__D<br />
<div class=field>__A9__D__a<br />
<%= check_box_tag :__A9__D__a %>
</div>
<div class=field>__A9__D__b<br />
<%= check_box_tag :__A9__D__b %>
</div>
<div class=field>__A9__D__c<br />
<%= check_box_tag :__A9__D__c %>
</div>
<div class=field>__A9__D__d<br />
<%= check_box_tag :__A9__D__d %>
</div>
<div class=field>__A9__D__e<br />
<%= check_box_tag :__A9__D__e %>
</div>
<div class=field>__A9__D__f<br />
<%= check_box_tag :__A9__D__f %>
</div>
<div class=field>__A9__D__g<br />
<%= check_box_tag :__A9__D__g %>
</div>
<div class=field>__A9__D__h<br />
<%= check_box_tag :__A9__D__h %>
</div>
<div class=field>__A9__D__i<br />
<%= check_box_tag :__A9__D__i %>
</div>
<div class=field>__A9__D__j<br />
<%= check_box_tag :__A9__D__j %>
</div>
<div class=field>__A9__D__k<br />
<%= check_box_tag :__A9__D__k %>
</div>
<div class=field>__A9__D__l<br />
<%= check_box_tag :__A9__D__l %>
</div>
<div class=field>__A9__D__m<br />
<%= check_box_tag :__A9__D__m %>
</div>
<div class=field>__A9__D__n<br />
<%= check_box_tag :__A9__D__n %>
</div>
<div class=field>__A9__D__o<br />
<%= check_box_tag :__A9__D__o %>
</div>
<div class=field>__A9__D__p<br />
<%= check_box_tag :__A9__D__p %>
</div>
<div class=field>__A9__D__q<br />
<%= check_box_tag :__A9__D__q %>
</div>
<div class=field>__A9__D__r<br />
<%= check_box_tag :__A9__D__r %>
</div>
</div>
<div class=field>__A9__ab<br />
<%= check_box_tag :__A9__ab %>
</div>
<div class=field>__A9__bb<br />
<%= check_box_tag :__A9__bb %>
</div>
<div class=field>__A9__cb<br />
<%= check_box_tag :__A9__cb %>
</div>
<div class=field>__A9__db<br />
<%= check_box_tag :__A9__db %>
</div>
<div class=field>__A9__eb<br />
<%= check_box_tag :__A9__eb %>
</div>
<div class=field>__A9__E<br />
<div class=field>__A9__E__a<br />
<%= check_box_tag :__A9__E__a %>
</div>
<div class=field>__A9__E__b<br />
<%= check_box_tag :__A9__E__b %>
</div>
<div class=field>__A9__E__c<br />
<%= text_field_tag :__A9__E__c %>
</div>
</div>
<div class=field>__A9__F<br />
<div class=field>__A9__F__a<br />
<%= check_box_tag :__A9__F__a %>
</div>
<div class=field>__A9__F__b<br />
<%= check_box_tag :__A9__F__b %>
</div>
<div class=field>__A9__F__c<br />
<%= text_field_tag :__A9__F__c %>
</div>
<div class=field>__A9__F__d<br />
<%= text_field_tag :__A9__F__d %>
</div>
</div>
</div>
<div class=field>__A10<br />
<div class=field>__A10__A<br />
<div class=field>__A10__A__a<br />
<%= check_box_tag :__A10__A__a %>
</div>
<div class=field>__A10__A__b<br />
<%= check_box_tag :__A10__A__b %>
</div>
<div class=field>__A10__A__c<br />
<%= check_box_tag :__A10__A__c %>
</div>
<div class=field>__A10__A__d<br />
<%= check_box_tag :__A10__A__d %>
</div>
<div class=field>__A10__A__e<br />
<%= check_box_tag :__A10__A__e %>
</div>
<div class=field>__A10__A__f<br />
<%= check_box_tag :__A10__A__f %>
</div>
<div class=field>__A10__A__g<br />
<%= check_box_tag :__A10__A__g %>
</div>
<div class=field>__A10__A__h<br />
<%= check_box_tag :__A10__A__h %>
</div>
<div class=field>__A10__A__i<br />
<%= check_box_tag :__A10__A__i %>
</div>
<div class=field>__A10__A__j<br />
<%= check_box_tag :__A10__A__j %>
</div>
</div>
<div class=field>__A10__B<br />
<%= text_field_tag :__A10__B %>
</div>
<div class=field>__A10__C<br />
<div class=field>__A10__C__a<br />
<%= check_box_tag :__A10__C__a %>
</div>
<div class=field>__A10__C__b<br />
<%= check_box_tag :__A10__C__b %>
</div>
<div class=field>__A10__C__b_e<br />
<%= text_field_tag :__A10__C__b_e %>
</div>
<div class=field>__A10__C__c<br />
<%= check_box_tag :__A10__C__c %>
</div>
<div class=field>__A10__C__c_e<br />
<%= text_field_tag :__A10__C__c_e %>
</div>
<div class=field>__A10__C__d<br />
<%= check_box_tag :__A10__C__d %>
</div>
<div class=field>__A10__C__e<br />
<%= check_box_tag :__A10__C__e %>
</div>
<div class=field>__A10__C__e_e<br />
<%= text_field_tag :__A10__C__e_e %>
</div>
</div>
</div>
<div class=field>__A11<br />
<div class=field>__A11__A<br />
<div class=field>__A11__A__a<br />
<%= check_box_tag :__A11__A__a %>
</div>
<div class=field>__A11__A__b<br />
<%= check_box_tag :__A11__A__b %>
</div>
<div class=field>__A11__A__c<br />
<%= check_box_tag :__A11__A__c %>
</div>
<div class=field>__A11__A__d<br />
<%= text_field_tag :__A11__A__d %>
</div>
<div class=field>__A11__A__e<br />
<%= check_box_tag :__A11__A__e %>
</div>
<div class=field>__A11__A__f<br />
<%= check_box_tag :__A11__A__f %>
</div>
<div class=field>__A11__A__g<br />
<%= check_box_tag :__A11__A__g %>
</div>
<div class=field>__A11__A__h<br />
<%= check_box_tag :__A11__A__h %>
</div>
<div class=field>__A11__A__i<br />
<%= check_box_tag :__A11__A__i %>
</div>
<div class=field>__A11__A__j<br />
<%= text_field_tag :__A11__A__j %>
</div>
<div class=field>__A11__A__k<br />
<%= check_box_tag :__A11__A__k %>
</div>
<div class=field>__A11__A__l<br />
<%= check_box_tag :__A11__A__l %>
</div>
<div class=field>__A11__A__m<br />
<%= check_box_tag :__A11__A__m %>
</div>
<div class=field>__A11__A__n<br />
<%= text_field_tag :__A11__A__n %>
</div>
<div class=field>__A11__A__o<br />
<%= check_box_tag :__A11__A__o %>
</div>
<div class=field>__A11__A__p<br />
<%= check_box_tag :__A11__A__p %>
</div>
<div class=field>__A11__A__q<br />
<%= check_box_tag :__A11__A__q %>
</div>
<div class=field>__A11__A__r<br />
<%= check_box_tag :__A11__A__r %>
</div>
<div class=field>__A11__A__s<br />
<%= check_box_tag :__A11__A__s %>
</div>
<div class=field>__A11__A__t<br />
<%= check_box_tag :__A11__A__t %>
</div>
<div class=field>__A11__A__u<br />
<%= check_box_tag :__A11__A__u %>
</div>
<div class=field>__A11__A__v<br />
<%= check_box_tag :__A11__A__v %>
</div>
<div class=field>__A11__A__w<br />
<%= check_box_tag :__A11__A__w %>
</div>
<div class=field>__A11__A__x<br />
<%= text_field_tag :__A11__A__x %>
</div>
</div>
<div class=field>__A11__B<br />
<div class=field>__A11__B__a<br />
<%= check_box_tag :__A11__B__a %>
</div>
<div class=field>__A11__B__b<br />
<%= check_box_tag :__A11__B__b %>
</div>
<div class=field>__A11__B__c<br />
<%= check_box_tag :__A11__B__c %>
</div>
<div class=field>__A11__B__d<br />
<%= check_box_tag :__A11__B__d %>
</div>
</div>
</div>
<div class=field>__A12<br />
<div class=field>__A12__a<br />
<%= check_box_tag :__A12__a %>
</div>
<div class=field>__A12__b<br />
<%= check_box_tag :__A12__b %>
</div>
<div class=field>__A12__c<br />
<%= text_field_tag :__A12__c %>
</div>
</div>
<div class=field>__A13<br />
<div class=field>__A13__a<br />
<%= check_box_tag :__A13__a %>
</div>
<div class=field>__A13__b<br />
<%= check_box_tag :__A13__b %>
</div>
<div class=field>__A13__c<br />
<%= text_field_tag :__A13__c %>
</div>
</div>
<div class=field>__A14<br />
<div class=field>__A14__approval_date<br />
<%= date_select :__A14__approval_date, '' %>
</div>
</div>
<%= submit_tag 'Save' %>
<% end %>
