<h1>Your Notifications</h1>

<% if @notifications.length > 0 %>
  <table>
    <tr>
      <th>Message</th>
      <th>Sent</th>
    </tr>

  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.message %></td>
      <td><%= notification.created_at %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <h3>No Notifications found</h3>
<% end %>

