<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.full_name %>, your action is required.</h1>
    <p>
      <%=link_to @cta.name, @cta%> has been submitted for CCI board review, and you have been selected as a reviewer. 
    </p>
    <p>
    </p>
  </body>
</html>